body, html {
    background-color: #f1f1e7;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #186351;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 98.5%; /* Full width */
    border-radius: 5px;
    margin-top: 10px;

  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #faf2e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Source Serif Pro', serif;
    font-size: 1.1em;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #5e1726;
    color: white;
  }


  .header {
    margin-top: 100px;
    text-align: center;
    color: #0B0B03;
  }

  h1{
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 3px;
    font-size: 2em;
    text-transform: uppercase;
  }
  
  h2 {
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 3px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: lighter;
    text-decoration: underline;
    text-underline-position: under;
  }

  h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 10px;
    margin: 15px;
  }

  .titlefont {
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 3px;
    font-size: 2em;
    text-transform: uppercase;
    padding-left: 350px;
  }

  .bodyfont {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1em;
    padding-left: 350px;
  }

  .captions {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    padding-left: 350px;
  }

  a {
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    color: #5e1726;
    font-size: .85em;

  }

  /* Main content */
  .main {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    display: grid;
    font-size: 1em;
    grid-template-columns: 20em 60em;
    margin: 4em;
    padding: 4em;
  }

  .name {
   border-right: 0.2px solid gray;
   text-transform: uppercase;
   }

  .colors {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    display: flex;
    flex: 20%;
    padding: 10px;
    margin: 15px;
   }

  img {
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 15px;
   }

  /* Alabaster color section */
  .alabaster:hover .image{
    opacity: 0.7;
    cursor: pointer;
   }

  .alabaster:hover .hexnumber1{
    opacity: 1;
   }

  .hexnumber1 {
    color: #A4A465;
    text-align: center;
    position: relative;
    padding-right: 12px;
    top: -140px;
    opacity: 0;
   }

  .text1 {
    text-align: center;
    position: relative;
    padding-right: 12px;
    top: -89px;
   }

  /* Viridian color section */
   .viridian:hover .image{
    opacity: 0.7;
    cursor: pointer;
   }

  .viridian:hover .hexnumber2{
    opacity: 1;
   }

  .hexnumber2 {
    color: #2E6156;
    text-align: center;
    position: relative;
    padding-right: 12px;
    top: -140px;
    opacity: 0;
   }

  .text2 {
    text-align: center;
    position: relative;
    padding-right: 12px;
    top: -89px;
   } 
  
  /* Castleton Green color section */
   .castletongreen:hover .image{
    opacity: 0.7;
    cursor: pointer;
   }

  .castletongreen:hover .hexnumber3{
    opacity: 1;
   }

  .hexnumber3 {
    color: #2E6156;
    text-align: center;
    position: relative;
    padding-right: 12px;
    top: -140px;
    opacity: 0;
   }

  .text3 {
    text-align: center;
    position: relative;
    padding-right: 12px;
    top: -89px;
   }

    /* Wine color section */
   .wine:hover .image{
    opacity: 0.7;
    cursor: pointer;
   }

  .wine:hover .hexnumber4{
    opacity: 1;
   }

  .hexnumber4 {
    color: #DF7C91;
    font-size: .9em;
    text-align: center;
    position: relative;
    padding-right: 12px;
    top: -140px;
    opacity: 0;
   }

  .text4 {
    text-align: center;
    position: relative;
    padding-right: 12px;
    top: -89px;
    letter-spacing: 1.5px;
   }

  /* Smoky Black color section */
  .smokyblack:hover .image{
    opacity: 0.7;
    cursor: pointer;
   }

  .smokyblack:hover .hexnumber5{
    opacity: 1;
   }

  .hexnumber5 {
    color: #ebebeb;
    font-size: .9em;
    text-align: center;
    position: relative;
    padding-right: 12px;
    top: -140px;
    opacity: 0;
   }

  .text5 {
    text-align: center;
    position: relative;
    padding-right: 12px;
    top: -89px;
   }

